body {
    width: 600px;
    margin: 0 auto 0 auto;
    padding-top: 5px;
}

header {
    text-align: center;
    background-color: rgb(255, 230, 199);
    color: rgb(250, 166, 62);
    padding: 8px;
    border-radius: 5px;
}

nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.272);
}

ul {
    text-align: center;

}

li {
    display: inline-block;
    padding: 9px;
}

.img {
    background-image: url("Rihanna.webp");
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid black;
    border-radius: 150px;
    margin: 0 auto 0 auto;
}

h2 {
    text-align: center;
}